<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
        <span class="toolBarRow1"> 
            <span class="logoFont">
                <a routerLink="/index" routerLinkActive="active">FlixShop</a>
            </span>
            <span class="loginText">
                <a routerLink="/login" routerLinkActive="active">Login</a> &nbsp; | &nbsp;
                <a routerLink="/register" routerLinkActive="active">Register</a>
            </span>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="toolBarRow2">
            Browse &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Search
            <span class="cart">
                 <img src="assets/icons/shopping_cart.svg" class="cartSize filter-white"/>
                Cart  
            </span>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
