<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
        <span class="toolBarRow1"> 
            <span class="logoFont">
                FlixShop
            </span>
            <span class="loginText">
                Login &nbsp; | &nbsp;
                Register
            </span>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="toolBarRow2">
            Browse &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Search
            <span class="cart">
                 <img src="assets/icons/shopping_cart.svg" class="cartSize filter-white"/>
                Cart  
            </span>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
